@font-face {
  font-family: 'Raleway';
  src: url("/static/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Raleway';
  src: url("/static/Raleway/Raleway-Black.ttf");
  font-weight: bolder;
}

#body {
  background: url("images/home-screen-bg.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  color:white;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.header {
  font-family: 'Raleway Black', sans-serif !important;
  color: white;
  font-size: 8.5vw;
  margin-top: -7.5%;
}

.subheader{
  font-family: 'Raleway Regular', sans-serif !important;
  color: white;
  font-size: 1.8vw;
  margin-top: -6.5%;
  margin-bottom: 5%;
}

#section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
