@font-face {
    font-family: 'Raleway';
    src: url("/static/Raleway/Raleway-Black.ttf");
  }

#body {
    background: url("images/home-screen-bg.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  color:white;

  font-family: Raleway;
}

#line{
	border: none;
    height: 3px;
    /* Set the hr color */
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}

.col-centered{
    margin: 0 auto;
    float: none;
}

#mainheader{
    color:white;
    align-content:center;
}

#subheader{
    color:white;
    padding-bottom: 15pt;
}

#section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}