@font-face {
  font-family: 'Raleway';
  src: url("/static/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Raleway';
  src: url("/static/Raleway/Raleway-Black.ttf");
  font-weight: bolder;
}

#Welcome{
	color:white;
  font-family: Raleway;
  font-weight: bolder;
}

#logo{
	padding-top: 140px;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

#body{
  background: url("images/login-screen-bg.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  font-family: Raleway;
}