{% extends 'websites/base.html' %}

{% block nav_contactus %}<a class="nav-link text-white">Contact Us</a>{% endblock %}

{% block content %}
    
    <div class="container" id="section">
        <!-- <div class="row-5 row-centered"> -->
        <div class="row-5 align-self-center justify-content-center">
            <h1 class="display-1">We love opinions.</h1>
            <h3>How to reach us.</h3>
            <h3>02-413-321</h3>
            <h3>inquiry@website.com</h3>
            <h3>Faura 208</h3>
        </div>
    </div>
    
{% endblock %}
