<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'websites/signup.css' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  
  <body id="body">
    <body background="images/register-screen-bg.png">
    
    <hr id="line" size="30">
    <!--Navigation Bar Design-->
    <div class="d-flex justify-content-end">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent d-flex">
            <!-- Search -->
            <form class="form-inline my-2 my-lg-0">
                <!-- Search Field -->
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <!-- Search Button -->
                    <button class="btn btn-secondary-light my-2 my-sm-0" type="submit" >Search</button>
                    </form>
            <!-- Navigation Bar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- Home -->
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#" >Home<span class="sr-only">(current)</span></a>
                    </li>
                    <!-- Calendar -->
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">Calendar<span class="sr-only">(current)</span></a>
                    </li>
                    <!-- Directory -->
                    <li class="nav-item dropdown">
                        <!-- Drop Down Design -->
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Directory</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <!-- About Us -->
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- Contact Us -->
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">Contact Us<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
    <div class="container">
        <div class="row-5 row-centered">
            <h1 id="mainheader" class="display-1">We love opinions.</h1>
            <h3 id="subheader" margin-bottom="100px">How to reach us.</h3>
            <h1 id="mainheader" class="display-6">02-413-321</h1>
            <h1 id="mainheader" class="display-6">inquiry@website.com</h1>
            <h1 id="mainheader" class="display-6">Faura 208</h1>
        </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
