<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Directory</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Related -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'websites/directory.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
  </head>
  <body>
		<hr id="line" size="30">

    <!--Navigation bar-->
		<div class="d-flex justify-content-end">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent d-flex">

        <!--Collapsing navbar-->
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Search bar -->
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary-light my-2 my-sm-0" type="submit" >Search</button>
          </form>

          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'websites:Homepage' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'websites:events' %}">Calendar</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="{% url 'websites:directory' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Directory
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for i in dars %}
                  <a class="dropdown-item" href="#">{{i.v_name}}</a>
                {% endfor %} 
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'websites:directory' %}">See More</a>
              </div>
              {%for item in vnum %}
                <div >
                  <a href="{% url 'websites:adddate' %}" >adddate</a>
                </div>
              {% endfor %}
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'websites:contactus' %}">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'websites:aboutus' %}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'websites:myPage' %}">My Page</a>
            </li>
            <button class="btn btn-primary my-2 my-sm-0" type="submit" >Logout</button>
          </ul>
        </div>
      </nav>
    </div>


    <!-- Container which contains the HTML/CSS for Text -->
    <div class="container h-100 text-center">
      <div class="header">
        <p> Directory </p>
      </div>
      <div class="subheader">
        <p> Search from all accredited varsities </p>
      </div>
    </div>
    <!-- Container which contains the HTML/CSS for Tables -->
    <div class="container h-100">
      <table class="table text-center t table-borderless">
        <!-- The Topmost Row -->
        <thead class="theader">
          <tr>
            <th scope="col"> Varsity </th>
            <th scope="col"> Email<br>Address </th>
            <th scope="col"> Contact<br>Number </th>
            <th scope="col"> Contact<br>Person </th>
          </tr>
        </thead>
        <!-- The Elements of the Row -->
        <tbody class="ttext">
		  {% for item in varsities %}
          <tr>
            <th scope="row">{{item.v_name}} </th>
            <td>{{item.v_email}}</td>
            <td>{{item.v_contact}}</td>
			 {% for member in members %}
				{% if member.m_team == item and member.m_role  == 'manager' %}
					<td>{{member.m_name}}</td>
				{% endif %}
			 {% endfor %}
          </tr>
		  {% endfor %}
        </tbody>
      </table>
    </div>
</html>
