{% extends 'websites/base.html' %}

{% block nav_home %}<a class="nav-link text-white">Home</a>{% endblock %}

{% block content %}
        
		<div class="container" id="section">
			<div class="row align-self-center">
				<div class="col align-self-center">
					<!-- Main Header -->
					<h1 id="mainheader" class="display-1 text-lg-center" align="center">Welcome.</h1>

					<!-- Sub Header -->
					<h2 id="subheader" align="center">Start your varsity journey today.</h2>

					<!--Get Started Button-->
					<form action="{% url 'websites:loginattempt' %}" method="post">
						{% csrf_token %}
						<div class="col-5 col-centered" >
							<button class="btn btn-outline-light btn-lg btn-block"  type =  "submit">Get Started</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	

{% endblock %}
