<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Manager Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Related -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'websites/varsityedit.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
  </head>
  <script>
    function editField() {
      var el = document.getElementById('txt');
      el.onclick = function(){
        this.removeAttribute('readonly');
      };
      document.getElementById("sendbutton").style.visibility = "visible";
    }
    function sendField() {
      var el = document.getElementById('txt');
      el.onclick = function(){
        this.setAttribute('readonly');
      };
      document.getElementById("sendbutton").style.visibility = "hidden";
    }
  </script>
  <body id="body">
    <!-- Navigation Bar -->
    <div class="container h-100">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark d-flex">
      <!--Collapsing navbar-->
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!--Navbar stuff-->
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'websites:Homepage' %}" >Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'websites:events' %}">Calendar<span class="sr-only">(current)</span></a>
              </li>
              <!--Drop down part of the navbar-->
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'websites:directory' %}" id="navbar" role="button">Directory</a>
              </li>
              <!--About Us-->
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'websites:aboutus' %}">About Us <span class="sr-only">(current)</span></a>
              </li>
              <!--Contact Us-->
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'websites:contactus' %}">Contact Us<span class="sr-only">(current)</span></a>
              </li>
              <!--My Page-->
			  {% if username != '' %}
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'websites:myPage' %}">My Page<span class="sr-only">(current)</span></a>
              </li>
              <!--Logout Button-->
              <li class="nav-item active">
			  	<form action="{% url 'websites:logout' %}" method="post">
				{% csrf_token %}
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Logout</button>
				</form>
              </li>
			  
			  {% endif %}
          </ul>
        </div>
      </nav>
    </div>
      <!-- Container which contains the HTML/CSS for Text -->
      <div class="container h-100 text-center">
        <div class="header">
          <p> {{vars.v_name}} </p>
        </div>
      </div>
    <!-- Container which contains the HTML/CSS -->
    <div class="container h-100">
      <div class="row">
        <div class="col text-center">
          <p class="subheader"> Varsity Info <sub class="sclass" style="color:#ff6961;" onclick="editField()"> edit </sub> </p>
        </div>
      </div>
      <!-- Textarea of Varsity Description which is read-only -->
	  
	  <form action="{% url 'websites:descedit' %}" method="post">
				{% csrf_token %}
	  
      <div class="form-group">
        <div class="text-center">
          <!-- put the data from the db here -->
          <textarea class="form-control ttext text-left" rows="10" id="txt" name = "description" readonly="readonly">{{vars.v_desc}}
          </textarea>
        </div>
      </div>
      <!-- Button when you submit new data -->
      <div class="col text-center btt">
        <button type="submit" name="action" class="btn btn-block btn-primary btn-lg" id="sendbutton" style="visibility:hidden;" onclick="sendField();" data-toggle="modal" data-target="#exampleModalCenter">Submit</button>
      </div>
	  </form>
	  
	  
	  
      <!-- Pagination -->
      <div class="text-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item active"><a class="page-link" href="{% url 'websites:customize'%}">1</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'websites:edit2'%}">2</a></li>
          </ul>
        </nav>
    </div>
    <!-- Popup -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Varsity Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Succesfully updated!
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript related for Bootstrap 4 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
