<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Basketball</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Related -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'websites/varsity.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  </head>
  <body id="body">
    <!-- Navigation Bar -->
    <div class="container h-100">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark d-flex">
      <!--Collapsing navbar-->
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--Search bar and button-->
        <form class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary-light my-2 my-sm-0" type="submit" >Search</button>
          </form>
          <!--Navbar stuff-->
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'websites:Homepage' %}" >Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'websites:events' %}">Calendar<span class="sr-only">(current)</span></a>
              </li>
              <!--Drop down part of the navbar-->
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'websites:directory' %}" id="navbar" role="button">Directory</a>
              </li>
              <!--About Us-->
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'websites:aboutus' %}">About Us <span class="sr-only">(current)</span></a>
              </li>
              <!--Contact Us-->
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'websites:contactus' %}">Contact Us<span class="sr-only">(current)</span></a>
              </li>
              <!--My Page-->
			  {% if username != '' %}
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'websites:myPage' %}">My Page<span class="sr-only">(current)</span></a>
              </li>
              <!--Logout Button-->
              <li class="nav-item active">
			  	<form action="{% url 'websites:logout' %}" method="post">
				{% csrf_token %}
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Logout</button>
				</form>
              </li>
			  
			  {% endif %}
          </ul>
        </div>
      </nav>
    </div>
      <!-- Container which contains the HTML/CSS for Text -->
      <div class="container h-100 text-center">
        <!-- Varsity Header Here -->
        <div class="header justify-content-center align-self-center col-12">
          <p> Who we are </p>
        </div>
        <!-- Varsity Description Here. Sir, you can do your magic here. -->
        <div class="row justify-content-center align-self-center">
          <div class="subheader2 d-flex justify-content-center text-justify col-8">
            <p class ="justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis ex ipsum, et tincidunt augue suscipit malesuada. Donec convallis eros eget interdum vulputate. Nulla ultrices metus metus, id placerat ligula gravida sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vulputate nisl et nisl pellentesque, sed tincidunt felis ultrices. Integer ante lacus, ultrices ullamcorper posuere sit amet, convallis quis turpis. Fusce consectetur eu est a lacinia. Integer in tortor mauris. In eu ante in ex convallis ultrices sed ac ipsum.  </p>
          </div>
        </div>
      </div>
      <!-- Pagination -->
      <div class="text-center" style="padding-top:10%;">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-sml justify-content-center">
            <li class="page-item active"><a class="page-link" href="{% url 'websites:varsitee' vars.v_num %}">1</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'websites:varsitee2' vars.v_num %}">2</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'websites:varsitee3' vars.v_num  %}">3</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Javascript related for Bootstrap 4 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
