#body{
  background: url(aboutus-images/about.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  font-family: Raleway;
}

#meet {
	font-size: 100px;
	padding-top: 259px;
	color: white;
	font-family: Raleway Black;
}
#meettext {
	font-size: 25px;
	padding-top: 0px;
	color: white;
	font-family: Raleway Black;
}
#bodyrow {
	padding-top: 85px;
	font-size: 18px;
	padding-left: 570px;
	color: white;
	font-family: Raleway Black;
}
#textrow {
	padding-top: 10px;
	font-size: 18px;
	padding-left: 560px;
	color: white;
	font-family: Raleway Black;
}

#line{
	border: none;
    height: 3px;
    /* Set the hr color */
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}

.col-centered{
    margin: 0 auto;
    float: none;
}

#mainheader{
	padding-top:200px;
	color:white;
}

#subheader{
	color:white;
	padding-bottom:20px;
}