#body{
  background: url(aboutus-images/about.png) no-repeat center center fixed;
  background-size: 100% 100%;
  height: 100%;
  overflow: hidden;
  font-family: Raleway;
}

#meet {
	font-size: 5.5vw;
	padding-top: 12%;
	color: white;
	font-family: Raleway Black;
}
#meettext {
	font-size: 1vw;
	padding-top: 0%;
	color: white;
	font-family: Raleway Black;
}
#bodyrow {
	padding-top: 3.5%;
	font-size: 1vw;
	padding-left: 30%;
	color: white;
	font-family: Raleway Black;
}
#textrow {
	padding-top: 0.5%;
	font-size: 0.95vw;
	padding-left: 29%;
	color: white;
	font-family: Raleway Black;
}

#line{
	border: none;
    height: 3px;
    /* Set the hr color */
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}

.col-centered{
    margin: 0 auto;
    float: none;
}

#mainheader{
	padding-top:200px;
	color:white;
}

#subheader{
	color:white;
	padding-bottom:20px;
}