<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>About Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Related -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="aboutus.css">
  </head>
  <body id=body>
    <!-- Design Related -->
    <hr id="line" size="30">
    <!--Navigation Bar Design-->
    <div class="d-flex justify-content-end">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent d-flex">
        <!-- Search -->
        <form class="form-inline my-2 my-lg-0">
          <!-- Search Field -->
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <!-- Search Button -->
          <button class="btn btn-secondary-light my-2 my-sm-0" type="submit" >Search</button>
        </form>
        <!-- Navigation Bar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- Home -->
            <li class="nav-item active">
              <a class="nav-link text-white" href="#" >Home<span class="sr-only">(current)</span></a>
            </li>
            <!-- Calendar -->
            <li class="nav-item active">
              <a class="nav-link text-white" href="#">Calendar<span class="sr-only">(current)</span></a>
            </li>
            <!-- Directory -->
            <li class="nav-item dropdown">
              <!-- Drop Down Design -->
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Directory</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <!-- About Us -->
            <li class="nav-item active">
              <a class="nav-link text-white" href="#">About Us <span class="sr-only">(current)</span></a>
            </li>
            <!-- Contact Us -->
            <li class="nav-item active">
              <a class="nav-link text-white" href="#">Contact Us<span class="sr-only">(current)</span></a>
            </li>
          </ul> 
        </div>
      </nav>
    </div>    
    <!--Background Image-->
    <body background="aboutus-images/about-png">
      <!--Meet the Team-->
      <p id=meet class="display-1" align="center">Meet the Team.</p>
      <p id=meettext class="display-1" align="center"> We're a group of classmates, <br> struggling to finish this <br> for our requirement. <br></p>
      <!--The Team-->
      <div id=bodyrow class="display-1" align="center">
        <div class="media">
          <!--Images Team-->
          <div class="row">
            <img src="aboutus-images/ej.png" alt="ejhead" class="img-fluid mx-auto">
            <div style="padding-left:50px;"> <img src="aboutus-images/wes.png" alt="weshead" class="img-fluid mx-auto"> </div>
            <div style="padding-left:50px;"> <img src="aboutus-images/jeff.png" alt="jeffhead" class="img-fluid mx-auto"> </div>
            <div style="padding-left:50px;"> <img src="aboutus-images/jas.png" alt="jashead" class="img-fluid mx-auto"> </div>
            <div style="padding-left:50px;"> <img src="aboutus-images/sir.png" alt="sirhead" class="img-fluid mx-auto"> </div>
          </div>
        </div>
      </div>
      <div id=textrow class="display-1" align="center">
        <!-- Text Team -->
        <div class="row">
          <div class="media">
            <p> Eugene Tiongco <br> Team Manager </p>
            <div style="padding-left:50px;"> <p> Wesley Ong <br> Team Leader </p> </div>
            <div style="padding-left:50px;"> <p> Jeff Andawi <br> Secretariat </p> </div>
            <div style="padding-left:70px;"> <p> Jasmine Chan <br> Programmer </p> </div>
            <div style="padding-left:50px;"> <p> Sir Tan <br> Programmer </p> </div>
          </div>
        </div>
      </div>
    </body>
  <body>
  </body>
</html>